<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>background.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,960}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,960}}</string>
                <key>sourceSize</key>
                <string>{640,960}</string>
            </dict>
            <key>ball_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,352},{38,38}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>ball_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,290},{60,50}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,10},{60,50}}</string>
                <key>sourceSize</key>
                <string>{62,68}</string>
            </dict>
            <key>ball_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,118},{58,52}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,9},{58,52}}</string>
                <key>sourceSize</key>
                <string>{62,68}</string>
            </dict>
            <key>ball_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,234},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{54,54}}</string>
                <key>sourceSize</key>
                <string>{62,68}</string>
            </dict>
            <key>ball_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,172},{60,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,6},{60,56}}</string>
                <key>sourceSize</key>
                <string>{62,68}</string>
            </dict>
            <key>ball_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,2},{58,56}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{58,56}}</string>
                <key>sourceSize</key>
                <string>{62,68}</string>
            </dict>
            <key>ball_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,60},{56,58}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{56,58}}</string>
                <key>sourceSize</key>
                <string>{62,68}</string>
            </dict>
            <key>ball_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,352},{38,38}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>ball_state_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,290},{28,4}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,17},{28,4}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>ball_state_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,392},{26,22}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{26,22}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>ball_state_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,352},{24,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,12},{24,16}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>map_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{630,638}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{630,638}}</string>
                <key>sourceSize</key>
                <string>{630,638}</string>
            </dict>
            <key>next.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,644},{232,110}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,110}}</string>
                <key>sourceSize</key>
                <string>{234,110}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>scene.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:223e6652377aaf6ea2a2283d83ca74e7:1/1$</string>
            <key>textureFileName</key>
            <string>scene.png</string>
        </dict>
    </dict>
</plist>
